label {
    color: rgb(207, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
}

#result {
    color: white;
}

.container {
    background-color:rgb(33, 33, 33);
    border-radius: 3%;
    max-width: 1500px;
}

.result {
    padding: 25px;
    font-size: 26px;
    text-align: right;
    border-bottom: black 2px solid;
}

.result-background {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 40px;
    border-radius: 3px;
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    max-width: 1400px;
    overflow: auto;
}

.button {
    background-color: rgb(40, 40, 40);
    width: 20% ;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 5%;
    font-size: 36px;
    max-width: 125px
}

.button:hover {
    background-color:rgb(33, 33, 33);
}


.bottom-row {
    justify-content: right;
    padding: 10px;
}

.enter {
    background-color: rgb(40, 40, 40);
    height: 50px;
    text-align: center;
    vertical-align: center;
    border: 2px solid black;
    border-radius: 5%;
    font-size: 36px;
    left: 100px;
    width: 80%
}

.enter:hover {
    background-color: rgb(33, 33, 33);
}
